<div class="container center-text">
  <h3>Meet our team</h3>
  <br>
  <br>
  <br>


  <div class="col-sm">
    <h5> Web Development </h5>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5 shruthi">
        </div>
        <p>Shruthi Raghuraman</p>
        <a href='https://www.linkedin.com/in/shruthi-raghuraman-2a7507131/'>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5 julia">
        </div>
        <p>Julia Rakas</p>
        <a href='https://www.linkedin.com/in/julie-rakas-580413139/'>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5 randy">
        </div>
        <p>Randy Lirano</p>
        <a href='https://www.linkedin.com/in/randy-lirano-66b291107/'>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5 steve">
        </div>
        <p>Jinyang Zheng</p>
        <a href='https://www.linkedin.com/in/stevejzheng/'>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
    </div>
  </div>

<br>
<br>
<br>
  <div class="col-sm">
    <h5> AI </h5>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5 zihao">
        </div>
        <p>Zihao Qui</p>
        <a href='https://www.linkedin.com/in/zihao-qiu-613063a8/'>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5 aushee">
        </div>
        <p>Aushee Khamesra</p>
        <a href='https://www.linkedin.com/in/aushee-k/'>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5 yuqi">
        </div>
        <p>Yuqi Tao</p>
        <a href='https://www.linkedin.com/in/gavintao1219/'>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5 robert">
        </div>
        <p>Robert Dragomir</p>
        <a href='https://www.linkedin.com/in/rgdragomir/'>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>


  <div class="row">
  </div>
