<div class="container center-text">
  <h3>Meet our team</h3>
  <br>
  <br>
  <br>


  <div class="col-sm">
    <h5> Web Development </h5>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5">
        </div>
        <p>Shruthi Raghuraman</p>
        <a href='https://www.linkedin.com/in/shruthi-raghuraman-2a7507131/'>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5">
        </div>
        <p>Julia Rakas</p>
        <a href=''>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5">
        </div>
        <p>Randy Lirano</p>
        <a href=''>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5">
        </div>
        <p>Jinyang Zhang</p>
        <a href=''>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
    </div>
  </div>

<br>
<br>
<br>
  <div class="col-sm">
    <h5> AI </h5>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5">
        </div>
        <p>Zihao Qui</p>
        <a href=''>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5">
        </div>
        <p>Aushee Khamesra</p>
        <a href=''>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5">
        </div>
        <p>Yuqi Tao</p>
        <a href=''>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
      <div class="col-sm">
        <div class="card mx-auto mt-5 mb-5">
        </div>
        <p>Robert Dragomir</p>
        <a href=''>
        <button type="button" class="btn btn-info rounded-pill try-kati">Connect</button>
        </a>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>


  <div class="row">
  </div>
