<link rel="stylesheet" href="home.component.css">

<div class="container-fluid center-page">
  <div class="row">
    <div class="col-md-10">
      <!-- <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Say hello to Kati.</h1>
          <p class="lead">An AI based face mask detection program</p>
        </div>
      </div> -->
      <br>
      <br>
      <br>
      <br>

      <h2><span class="colorTwo">KATI</span>MaskDetect</h2>
      <br>
      <h6> Your public safety AI friend </h6>

      <button type="button" class="btn btn-light rounded-pill try-kati" [routerLink]="['/product']">TRY KATI</button>

    </div>
  </div>
</div>
