img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 10%;
    max-height: 10%;
}
h6 {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}

.instafield {
  min-height: 250px;
}

.connectbody-color {
  background-color: #8FA7C0
}
