
<section id="about" class="page-section">
    <div class="container">
        <h2 style="text-align:center;">Meet the Team </h2>
        <div class="row">
            <div class="text-content">
                <h2 style="text-align:center;"><em></em> <span>Web</span> Team</h2>
            </div>
<br>
<br>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_icon_01.png" alt="">
                    </div>
                    <h4>Shruthi Raghuraman</h4>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Connect</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_icon_02.png" alt="">
                    </div>
                    <h4>Julie Rakas</h4>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Connect</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_icon_03.png" alt="">
                    </div>
                    <h4>Randy Lirano</h4>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Connect</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_icon_04.png" alt="">
                    </div>
                    <h4>Jinyang Zheng</h4>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Connect</a>
                    </div>
                </div>
            </div>
        </div>
<br>
<br>
<br>
<br>

        <div class="row">
            <div >
                <h2 style="text-align:center;"><em></em> <span>Machine Learning Team</span></h2>
            </div>
<br>
<br>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_icon_01.png" alt="">
                    </div>
                    <h4>Zihao Qiu</h4>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Connect</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_icon_02.png" alt="">
                    </div>
                    <h4>Aushee Khamesra</h4>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Connect</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_icon_03.png" alt="">
                    </div>
                    <h4>Yuqi Tao</h4>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Connect</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_icon_04.png" alt="">
                    </div>
                    <h4>Robert Dragomir</h4>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Connect</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>