  <div id="contact-us">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          </div>
        <div class="col-md-4">
          <div class="section-heading page-text">
            <h4>MEET KATI</h4>
            <div class="line-dec"></div>
            <hr>
            <p>KATI is a publicly accessible web-based tool that makes it easier for anyone,
              including businesses, organizations, or public spaces, to determine whether a
              person is following mask-wearing protocols. This is all accomplished through the magic
              of AI, which reduces the need for human interaction during a global pandemic.</p>
            <br>
            <p>KATI can be used in practical applications aimed at mitigating the spread of infectious
              diseases and helps you make more informed public safety decisions for you and your community. </p>
          </div>
          <div class="col-md-4">
            </div>
        </div>
      </div>
    </div>
  </div>
