<div class="container center-div center-text">
  <div class="jumbotron text-center">

    <div class="view overlay my-4 waves-light" mdbWavesEffect>
      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid" alt="">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <h5 class="indigo-text h5 mb-4">Meet our team</h5>

    <p class="card-text">This section will be updated soon!</p>

    <br>
    <br>
    <br>
    <br>
  <div class="row">
    <div class="col-sm">
      <h6> AI/ML </h6>
    </div>
    <div class="col-sm">
      <h6> Web Development </h6>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card">
      </div>
    </div>
    <div class="col-sm">
      <h6>Ann</h6>
    </div>
    <div class="col-sm">
      <div class="card">
      </div>
    </div>
    <div class="col-sm">
      <h6>Bob</h6>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
  </div>
</div>
