  <div id="contact-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h4 style="font-size: 25px;">Meet KATI</h4>
            <div class="line-dec"></div>
            <p style="font-size: 18px;">KATI is a publicly accessible web-based tool that makes it easier for anyone,
              including businesses, organizations, or public spaces, to determine whether a
              person is following mask-wearing protocols. This is all accomplished through the magic
              of AI, which reduces the need for human interaction during a global pandemic.</p>
            <br>
            <p style="font-size: 18px;">KATI can be used in practical applications aimed at mitigating the spread of infectious
              diseases and helps you make more informed public safety decisions for you and your community. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
